:root{
    --green:#2CE77A;
    --pink:#ff4699;
    --darkblue:#2d3047;
    --blue:#34395d;
    --yellow:#fffd87;
    --orange:#ff9b71;
    --white :#fbf5f4;
    --boxshadow:#171e49;
  }

  .div-add-icon{
    display: block;
    color:var(--pink);
    font-size: 50px;
    height: 60px;
    cursor: pointer;
  }

  .add-icon:hover{
    font-size: 55px;
  }

  .add-icon:active{
    font-size: 45px;
  }