:root{
    --green:#2CE77A;
    --pink:#ff4699;
    --darkblue:#2d3047;
    --blue:#34395d;
    --yellow:#fffd87;
    --orange:#ff9b71;
    --white :#fbf5f4;
    --boxshadow:#171e49;
  }

  .examTable{
    display: flex;
    background-color: var(--blue);
    display:inline-block;
    margin:20px;
    padding: 20px;
    box-shadow:4px 10px 20px var(--boxshadow);
    border-radius: 20px;
    min-width: 300px;
  }

.delet-icon-div{
  display: flex;
  justify-content:end;
  font-size: 30px;
}
.icon:hover{
  cursor: pointer;
  color:var(--pink)
}

.group-title{
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
}
.group-title:hover{
  color: var(--pink);
}

.group-title-edit{
  display: flex;
  justify-content: center;
}

.all-knowledge-div{
  margin:5px;
}

.add-icon-div{
  font-size: 30px;
}

.calendar-icon{
  padding-left: 10px;
}
.exam-date{
  font-size: 20px;
  margin-bottom: 10px;
}