:root{
  --green:#2CE77A;
  --pink:#ff4699;
  --darkblue:#2d3047;
  --blue:#34395d;
  --yellow:#fffd87;
  --orange:#ff9b71;
  --white :#fbf5f4;
  --boxshadow:#171e49;
}

html {
  text-align: center;
  background-color:var(--darkblue);
  color:var(--white);
  font-family: 'Oswald', sans-serif;
  min-width: 400px;
}

.title {
  color:var(--pink);
  font-size: 50px;  
}

.description{
  background-color: var(--blue);
  display:inline-block;
  margin:20px;
  padding: 20px;
  box-shadow:4px 4px 20px var(--boxshadow);
}
